  @font-face { font-family: DIN; src: url('DIN.ttf'); } 


/*background*/
body{
    background-color: #1A2238;
    margin: 0;
}


/*header*/
h1{
    font-family: DIN, sans-serif;
    color: #F7F7F7;
    font-size: 60px;
    font-weight: normal;
    text-align: center;
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 50px;
    }
}



/*navigation bar formats*/
.topnav {
    overflow: hidden;
    max-width: 1300px;
}

.topnav a {
    float: left;
    color: #86B8E4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: DIN, sans-serif;
}

@media screen and (max-width: 1000px) {
    .topnav a{
        font-size: 10px;
    }
}

.topnav a:hover {
    color: #F7F7F7;
}

.topnav a.activePage {
    color: #F7F7F7;
}


/*image gallery*/
.imageGallery {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
}

.imageColumn {
    flex: 22%;
    max-width: 22%;
    padding: 0 4px;
}

.imageColumn img {
    margin-top: 10px;
    vertical-align: middle;
    width: 100%;
    border-radius: 10px;
}

@media screen and (max-width: 700px) {
    .imageColumn {
        flex: 40%;
        max-width: 40%;
    }
}

@media screen and (max-width: 250px) {
    .imageColumn {
        flex: 90%;
        max-width: 90%;
    }
}





/*div format*/
.content{
    display: flex;
    flex-wrap: wrap;
    background-color: #293850;
    padding-left: 250px;
    padding-right: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 300%;
    text-align: left;
}

@media screen and (max-width: 1500px) {
    .content {
        padding-left: 125px;
        padding-right: 150px;
        margin-left: auto;
        margin-right: auto;
        line-height: 250%;
    }
}

@media screen and (max-width: 500px) {
    .content {
        padding-left: 40px;
        padding-right: 20px;
        margin-left: auto;
        margin-right: auto;
        line-height: 250%;
    }
}

#main{
   
}


/*text format 1*/
.text1{
    color: #FA5548;
    font-size: 20px;
    font-family: DIN, sans-serif;
}

.text2{
    color: #F7F7F7;
    font-size: 25px;
    font-family: DIN, sans-serif;
}

.text3{
    color: #6BA9E6;
    font-size: 28px;
    font-family: DIN, sans-serif;
    letter-spacing: 5px;
}

.contentColumn {
    flex: 30%;
    max-width: 30%;
    background-color: #202B42;
    padding-left: 100px;
    padding-right: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 250%;   
}

@media screen and (max-width: 250px) {
    .contentColumn {
        flex: 100%;
        max-width: 100%;
    }
}

.contentRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }

#contact_form {
  background-color: #00458B;
  }

label{
    color: #F7F7F7;
    font-size: 20px;
    font-family: DIN, sans-serif;
    font-weight: bold;
}

input[type=text], textarea {
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 30px;
    font-family: DIN, sans-serif;
    font-size: 15px;
    text-align: left;
    padding: 10px;
    
  }

input[type=text] {
    height: 25px;
}

input[type=submit] {
    background-color: cornflowerblue;
    color: #F7F7F7;
    border-radius: 5px;
    font-size: 18px;
    font-family: Arial, sans-serif;
    border: none;
    padding: 10px;
}

.bottomnav {
    background-color: #6BA9E6;
    color: #F7F7F7;
    overflow: hidden;
    padding-left: 50px;
    padding-right: 15px;
    padding-top: 10px;
    line-height: 20px;
    font-size: 20px;
    font-family: DIN, sans-serif;
    
}

ul{
    list-style: none;
}










.parallax {
    height: 50%;
    background-image:   url(photos/piano1.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
}
