  @font-face { font-family: Montserrat; src: url('Montserrat-VariableFont_wght.ttf'); } 

body{
    font-family: Montserrat, sans-serif;
    color: #815f87; 
    background-color: #161616;
    padding-top: 2vh;
}

/*Row and Column Stuff*/
.container {
  max-width: 100%;
  margin: 0 auto;   
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1vw;
  margin-bottom: 10vh;
  text-align: center;
}

.column {
  flex: auto;
  box-sizing: border-box;
  text-align: center;  
  margin-bottom: 2vh;
}

/*headers*/

h1 {
    text-align: center;
    font-size: 5vh; 
}

h2 {
    text-align: center;
    font-size: 3vh;
}

h3{
    text-align: center;
    font-size: 2vh;
}

/*Form Stuff*/

button {
    width: 30%;
    font-size: 3vw;
    padding: 1vw;
    border-radius: 10px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    background-color: #113e67;
    color: white;
    margin: 1vw;
}

button:active {
    background-color: #815f87;
}

textarea {
    width: 100%;
    height: 10vh;
    padding: 1vw;
    max-width: 30vw;
    border-radius: 10px;
    font-size: 2vh;
    font-family: sans-serif;
}

input {
    padding: 1vw;
    border-radius: 10px;
    font-size: 2vh;
}

input[type="checkbox"] {
    transform: scale(2);
    margin: 1vh;
    display: inline-block;
    margin-right: 5px; /* Adjust as needed */
}

input[type="radio"] {
    transform: scale(2);
    margin: 1vh;
    display: inline-block;
    margin-right: 5px;
    
}

label {
    font-size: 1.5vh;
    padding: 1vw;
    display: inline-block;
    margin-right: 5px; /* Adjust as needed */
}

img{
    width: 20vw;
    max-width: 200px;
}

p {
    font-weight: bold;
    font-size: 5vw;
    text-align: center;
}

#qrcode img{
    border: 10px solid #113e67;
    border-radius: 2vw;
    width: 50vw;
    max-width: 300px;
}

a:hover {
    color: skyblue;
}

a:active {
    color: skyblue;
}

a {
    color: #113e67;
    font-size: 2vw;
    padding-left: 4vw;
    font-weight: bold;
    text-decoration: none;
}

a.current {
    color: white;
}

