  @font-face { font-family: DIN; src: url('DIN.ttf'); } 


/*background*/
body{
    background-color: #1A2238;
    margin: 0;
}


/*header*/
h1{
    font-family: DIN, sans-serif;
    color: #F7F7F7;
    font-size: 60px;
    font-weight: normal;
    text-align: center;
}

h2{
    color: #6BA9E6;
    font-size: 42px;
    font-family: DIN, sans-serif;
    line-height: 45px;
    font-weight: normal;
}

@media screen and (max-width: 750px) {
    h1 {
        font-size: 40px;
    }
    h2{
    font-size: 35px
}
}


a{
    color: #F7F7F7;
    font-size: 20px;
    font-family: DIN, sans-serif;
    text-decoration: none;
    text-align: center;
}

a:hover {
    color: #86B8E4;
}

@media screen and (max-width: 1000px) {
    a {
        font-size: 18px;
    }
}

/*navigation bar formats*/
.topnav {
    overflow: hidden;
    max-width: 1300px;
}

.topnav a {
    float: left;
    color: #86B8E4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: DIN, sans-serif;
}

@media screen and (max-width: 975px) {
    .topnav a{
        font-size: 11.5px;
    }
}

.topnav a:hover {
    color: #F7F7F7;
}

.topnav a.activePage {
    color: #F7F7F7;
}


/*image gallery*/
.imageGallery {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
}

.imageColumn {
    flex: 22%;
    max-width: 22%;
    padding: 0 4px;
}

.imageColumn img {
    margin-top: 10px;
    vertical-align: middle;
    width: 100%;
    border-radius: 10px;
}

@media screen and (max-width: 700px) {
    .imageColumn {
        flex: 40%;
        max-width: 40%;
    }
}

@media screen and (max-width: 250px) {
    .imageColumn {
        flex: 90%;
        max-width: 90%;
    }
}





/*div format*/
.content{
    display: flex;
    flex-wrap: wrap;
    background-color: #293850;
    padding-left: 250px;
    padding-right: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 30px;
    line-height: 300%;
    text-align: left;
}

#content2{
    background-color: #293850;
}

@media screen and (max-width: 1500px) {
    .content {
        padding-left: 125px;
        padding-right: 150px;
        margin-left: auto;
        margin-right: auto;
        line-height: 250%;
    }
}

@media screen and (max-width: 750px) {
    .content {
        padding-left: 40px;
        padding-right: 20px;
        margin-left: auto;
        margin-right: auto;
        line-height: 250%;
    }
}

/*text format 1*/
.text1{
    color: #FA5548;
    font-size: 20px;
    font-family: DIN, sans-serif;
}

.text2{
    color: #F7F7F7;
    font-size: 25px;
    font-family: DIN, sans-serif;
}

.text3{
    color: #6BA9E6;
    font-size: 28px;
    font-family: DIN, sans-serif;
    letter-spacing: 5px;
}

.text4{
    color: #F7F7F7;
    font-size: 20px;
    font-family: DIN, sans-serif;
    line-height: 30px;
}


@media screen and (max-width: 1000px) {
   .text1{
       font-size: 15px;
    }

    .text2{
        color: #F7F7F7;
        font-size: 20px;
        font-family: DIN, sans-serif;
    }

    .text3{
        color: #6BA9E6;
        font-size: 21px;
        font-family: DIN, sans-serif;
        letter-spacing: 5px;
    }

    .text4{
        color: #F7F7F7;
        font-size: 15px;
        font-family: DIN, sans-serif;
    }
}

.contentColumn {
    background-color: #202B42;
    flex: 40%;
    max-width: 40%;
    padding-left: 7.5%;
    padding-right: 2.5%;
    padding-top: 30px;
    padding-bottom: 5px;
    line-height: 250%; 
}

.contentColumn2 {
    background-color: #293850;
    flex: 40%;
    max-width: 40%;
    padding-left: 7.5%;
    padding-right: 2.5%;
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 250%; 
}

.contentColumn a{
    text-align: center;
    display: block;
    margin: auto;
    
}

@media screen and (max-width: 750px) {
    .contentColumn {
        flex: 100%;
        max-width: 100%;
    }
}    

.contentRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    float: left;
    margin: 0;
    width: 100%;
    }

.contentColumn img{
    width: 90%;
}

#youtubeimg{
    width: 20%;
    display: block;
    margin: auto;
    border-radius: 100%;
    border: 7.5px solid #131A32;
}

#youtubeimg:hover{
    border: 7.5px solid steelblue;
}

#contact_form {
  background-color: #00458B;
  }

label{
    color: #F7F7F7;
    font-size: 20px;
    font-family: DIN, sans-serif;
}

input[type=text], textarea {
    border: black solid 5px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 30px;
    font-family: DIN, sans-serif;
    font-size: 15px;
    text-align: left;
    padding: 10px; 
    width: 60%;
  }

input[type=text] {
    height: 25px;
}

input[type=text]:hover, textarea:hover {
    border: #FA5548 solid 5px;
  }


input[type=submit] {
    background-color: #FA5548;
    color: #F7F7F7;
    border-radius: 6px;
    font-size: 15px;
    font-family: DIN, sans-serif;
    border: none;
    padding: 10px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-weight: bold;
}

input[type=submit]:hover {
    background-color: #F7F7F7;
    color: #FA5548;
}

.bottomnav {
    background-color: #131A32;
    color: #F7F7F7;
    overflow: hidden;
    padding-left: 50px;
    padding-right: 15px;
    padding-top: 10px;
    line-height: 30px;
    font-size: 20px;
    font-family: DIN, sans-serif;
    margin-left: auto;
    margin-right: auto;   
}

@media screen and (max-width: 750px){
    .bottomnav{
        font-size: 10px;
        padding-left: 20px;
    }
}

ul{
    list-style: none;
}

.parallax {
    height: 50%;
    background-image: url(photos/piano1.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
}

.quote {
    background-color: white;
    padding-left: 10%;
    padding-right: 20%;
    padding-top: .1px;
    padding-bottom: .1px;
    text-align: left;
    font-family: DIN, sans-serif;
}

.quote p{
    color: #475971;
    font-size: 17px;
    text-align: right;
    line-height: 5px;
}

.quote h1{
    color: #475971;
    font-size: 25px;
    text-align: center;
}

@media screen and (max-width: 750px) {
    .quote p {
        font-size: 10px;
    }
    
    .quote h1{
    font-size: 20px;
}
}

iframe{
    width: 480px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

@media screen and (max-width: 1100px) {
    iframe{
        width: 320px;
        height: 200px;
}
    }

::selection{
    background: #FA5548;
    color: #F7F7F7;
}